body {
    margin: 0;
    overflow: hidden;
}

.sky {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: sky-transition 20s infinite linear;
}

.sun, .moon {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
}

.sun {
    background: radial-gradient(circle, #fff59d, #fbc02d);
    animation: sun-animation 20s infinite linear;
    box-shadow: 0 0 40px 20px rgba(249, 237, 106, 0.563);
}

.moon {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 70%;
    left: -100px;
    transform: translateY(-50%);
    background: radial-gradient(circle, #ffffff, #bbb);
    animation: moon-animation 20s infinite linear;
    box-shadow: 0px 0px 10px 5px rgba(130, 130, 130, 0.5);
    overflow: hidden;
}


.moon .crater-1, .moon .crater-2, .moon .crater-3, .moon .crater-4, .moon .crater-5, .moon .crater-6 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(180, 180, 180, 0.9);
}

.moon .crater-1 { width: 13px; height: 13px; top: 30%; left: 10%; }
.moon .crater-2 { width: 10px; height: 10px; top: 60%; left: 40%; }
.moon .crater-3 { width: 9px; height: 9px; top: 75%; left: 15%; }
.moon .crater-4 { width: 3px; height: 3px; top: 40%; left: 70%; }
.moon .crater-5 { width: 18px; height: 18px; top: 13%; left: 40%; }
.moon .crater-6 { width: 20px; height: 20px; top: 55%; left: 88%; }

.building1, .building2, .building3, .building4 {
    position: absolute;
    background: #2e2e2e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.building1 {
    width: 12%;
    height: 1000px;
    top: 80%;
    left: 24%;
}

.building2 {
    width: 8%;
    height: 1000px;
    top: 69%;
    left: 39%;
}

.building3 {
    width: 15%;
    height: 1000px;
    top: 90%;
    left: 50%;
}

.building4 {
    width: 10%;
    height: 1000px;
    top: 51%;
    left: 70%;
}

.window {
    width: 10px;
    height: 15px;
    background: #000;
    margin: 5px;
    animation: window-light 20s infinite linear;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0; 
    animation: star-twinkle 20s infinite linear;
}

@keyframes star-twinkle {
    0%, 49% { opacity: 0; }
    50% { opacity: 1; }
    55%, 70%, 85% { opacity: 0.3; }
    60%, 75% { opacity: 0.8; }
    65%, 80%, 90% { opacity: 1; }
    95% { opacity: 1; }
    96%, 100% { opacity: 0; }
}

@keyframes sun-animation {
    0% { left: -100px; top: 70%; opacity: 1 }
    25% { left: 50%; top: 10%; opacity: 1 }
    50% { left: 110%; top: 70%; opacity: 1 }
    50.01% { left: -100px; top: 70%; opacity: 0 }
    75% { left: 50%; top: 10%; opacity: 0 }
    100% { left: 110%; top: 70%; opacity: 0 }
}

@keyframes moon-animation {
    0% { left: -100px; top: 70%; opacity: 0 }
    25% { left: 50%; top: 10%; opacity: 0 }
    50% { left: 110%; top: 70%; opacity: 0 }
    50.01% { left: -100px; top: 70%; opacity: 1 }
    75% { left: 50%; top: 10%; opacity: 1 }
    100% { left: 110%; top: 70%; opacity: 1 }
}

@keyframes sky-transition {
    0% { 
        background: linear-gradient(to bottom, #1e3a5f, #000);
    }
    50% { 
        background: linear-gradient(to bottom, #87ceeb, #ffffff);
    }
    100% { 
        background: linear-gradient(to bottom, #1e3a5f, #000);
    }
}

@keyframes window-light {
    0%  {background: #000; }
    51% { background: #000; }
    60% { background: #ffd700; }
    95% { background: #ffd700; }
    100% { background: #000; }
}

.window:nth-child(1) {
    animation-delay: 0s;
}

.window:nth-child(2) {
    animation-delay: 0.2s;
}

.window:nth-child(3) {
    animation-delay: 0.5s;
}

.window:nth-child(4) {
    animation-delay: 0.1s;
}

.window:nth-child(5) {
    animation-delay: 0s;
}

.window:nth-child(6) {
    animation-delay: 0.7s;
}

.window:nth-child(7) {
    animation-delay: 0.2s;
}

.window:nth-child(8) {
    animation-delay: 0.1s;
}

.window:nth-child(9) {
    animation-delay: 0.2s;
}

.window:nth-child(10) {
    animation-delay: 0.8s;
}

.window:nth-child(11) {
    animation-delay: 0.4s;
}

.window:nth-child(12) {
    animation-delay: 0.3s;
}